body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estilo para a aba superior da página inicial*/
header {
  background-color: rgba(34, 108, 192, 0.699);
  padding: 1rem;
}

/* Estilos para todos os links dentro do header */
header a {
  color: aliceblue;
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 1rem;
}
/* Ajustando os formatos dos livros, juntando eles em uma linha e
adicionando bordas */
.livros {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.livro {
  border: 1px #404040 solid;
  margin: 1rem;
}
.livro img {
  width: 100%;
  max-width: 400px;
}

.livro-info {
  padding: 1rem;
}
